{% extends "_layout.html" %}

{% block content %}


<main>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img class="img-fluid" src="/static/images/signup-image.jpg" />
            </div>

            <div class="col" class="center">
                    
                    <form action="{{url_for('login.google_login')}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="submit" value="Sign up via Google" class="submit-button-google">
                    </form>
                <div>
                <h7> OR </h7>
                </div>
                <h8>Create a new account</h8>

                <form action="{{url_for('users.create')}}" method="POST" id="create_new_account">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <div class="padding-left-align">
                        <label class="form-label" for="name">Name: </label>
                        <input class="input-text" type="text" name="name">
                    </div>

                    <div class="padding-left-align">
                        <label class="form-label" for="username">Username: </label>
                        <input class="input-text" type="text" name="username">
                    </div>

                    <div class="padding-left-align">
                        <label class="form-label" for="password">Password: </label>
                        <input class="input-text" type="password" name="password"
                            placeholder="1 lowercase, 1 uppercase and 1 of ?#$@!.">
                    </div>

                    <div class="padding-left-align">
                        <label class="form-label" for="reenter_password">Reenter password: </label>
                        <input class="input-text" type="password" name="reenter_password">
                    </div>

                    <div class="padding-left-align">
                        <label class="form-label" for="email">Email address: </label>
                        <input class="input-text" type="email" name="email">
                    </div>
<!-- 
                    <div class="padding-left-align">
                        <label class="form-label" for="birth_date">Birth date: </label>
                        <input class="input-text" type="date" name="birth_date">
                    </div> -->

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <p class="flash-words">{{ message }} </p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                    <div class="padding-left-align">
                        <input class="submit-button" type="submit" value="Start my journey">
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
