{% extends "_layout.html" %}



{% block content %}

<main>



    <div class="container-fluid">
        <div class="row align-items-center">


            <div class="col">
                <div class="profile-background">
                    <div class="margin-top">
                        <h11>{{show_username}}</h11>
                    </div>
                    <img class="user-profilepic" src="{{show_profilepic}}" />
                    <div class="profile-description">
                        <h9>"{{show_description}}"</h9>
                    </div>
                    {% if current_user.username == show_username %}


                    <form action="{{url_for('users.upload')}}">
                        <div>
                            <input class="profile-button" type="submit" value="Update profile picture">
                        </div>

                    </form>

                    <form action="{{url_for('users.edit')}}">
                        <div>
                            <input class="profile-button" type="submit" value="Edit personal information">
                        </div>
                    </form>


                    {% endif %}

                </div>
            </div>

            <div class="col">

                <h8>Stories </h8>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <p class="flash-words">{{ message }} </p>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}


                {% for value in images %}

                {% print(value.title) %}
                <img class="user-profilepic" src="{{value.image_url}}" />
                {% print(value.description) %}
                {% if username == show_username %}


                <form action="{{url_for('images.edit', id = value.id)}}">
                    <div>
                        <input class="profile-button" type="submit" value="Edit post">
                    </div>
                </form>

                <form action="{{url_for('images.destroy', id = value.id)}}">
                    <div>
                        <input class="profile-button" type="submit" value="Delete post">
                    </div>
                </form>


                {% endif %}
                {% endfor %}


            </div>

            <div class="col">


            </div>

        </div>

    </div>

</main>




{% endblock %}

<!-- put a form here  -->

<!-- 
and then in views.py need to put in the function  -->