{% extends "_layout.html" %}

{% block content %}

<div class="navbar">

    <h8 class="navbar-username"> {{username}}'s gallery </h8>

    <form action="{{url_for('home')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <input class="homepagelink" type="submit" value="Home">
        </div>
    </form>

    <form action="{{url_for('login.destroy', username = username)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <input class="homepagelink" type="submit" value="Logout">
        </div>
    </form>


</div>




{% endblock %}

<!-- put a form here  -->

<!-- 
and then in views.py need to put in the function  -->