body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

main {
  padding-bottom: 15px;

}


.flash-words{
  color: rgb(128, 38, 38);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;

}
/* GENERAL  */

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-top{
  margin-top: 20px;
}

/* NAVBAR */

header{
  height: 60px;
  background-color: white;
  width: 100vw;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  z-index: 1;
}

h7{
  font-family: 'Spectral', serif;
  color: rgb(0, 0, 0);
  font-size: 40px;

}

.navbar{
  width: 100vw;
  background-color:white;
  position:sticky;
  top: 60px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid black;
  z-index: 1;


}

.navbar-user{
  width: 100vw;
  background-color:white;
  position:sticky;
  top: 60px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  z-index: 1;
  vertical-align: middle;
  padding-top:7px;

}


.navbar-user-cont{
  display: flex;
}

.navbar-username{
  background-color: white;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: 'Spectral', serif;
  font-style: italic;
  padding-right: 20px;
  padding-left: 20px;
  align-items: left;
  margin-bottom: 3px;
  margin-top: 0px;


}

.navbar-username:hover{
  background-color: rgb(235, 235, 235);
   color: rgb(66, 109, 91);
}


.nav-button{
  background-color: rgb(66, 109, 91);
  color: white;
  border: none;
  font-family: 'Spectral', serif;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin-left: 3px;

}


.nav-button:hover{
  background-color: rgb(116, 190, 159);
  color: rgb(0, 0, 0);
}


.homepagelink{
  background-color: white;
  border: none;
  color: rgb(66, 109, 91);
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  padding-right: 20px;
  padding-left: 20px;
}

.homepagelink:hover{
  background-color: rgb(241, 241, 241);
  border: none;
  color: rgb(61, 61, 61);
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: underline;
  padding-right: 20px;
  padding-left: 20px;
}

.homepagelink:active{
  background-color: white;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  padding-right: 20px;
  padding-left: 20px;
}

footer {
  font-size: 11px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100vw;
  text-align: center;
  color: #ffffff;
  background-color: rgb(66, 109, 91);
  height: 30px;
  padding-top: 4px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

h9{
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* ERROR PAGE FONT  */
h10{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}


h8{
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 100;
  color:rgb(66, 109, 91);
  text-align: right;
}




/* FORM CSS */

.input-text{
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  width: 300px;

}


.submit-button{
  background-color: rgb(66, 109, 91);
  color: white;
  border: none;
  font-family: 'Spectral', serif;
  font-size: 18px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

.form-label{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
}

.padding-left-align{
  padding-top: 15px;
  align-items: left;
  
}

/* EDIT PAGE */
.edit-fields{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  justify-content: space-between;
  display:flex;
  border: solid;
  border-color: rgb(199, 199, 199);
  border-radius: 20px;
  border-width: 1px;
  padding: 25px;

}


/* USER PROFILE  */

.user-profilepic{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 30px;
}

.profile-button{
  background-color: rgb(228, 228, 228);
  color: rgb(68, 68, 68);
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  width: 220px;

}

.profile-description{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/* INDIVIDUAL USERNAME PROFILE PAGE FONT  */

h11{
font-family: 'PT Serif', serif;
  font-size: 27px;
  color:rgb(0, 0, 0);

}

/* INDIVIDUAL DESCRIPTION PROFILE PAGE FONT  */

h12{

}
