body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

main {
  padding-bottom: 15px;
}

a {
  color:rgb(87, 141, 119);
}

a:hover {
  text-decoration: underline;
  color:rgb(87, 141, 119);
}


#topBtn {
  /* display: none; Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(206, 216, 212);/* Set a background color */
  color: rgb(0, 0, 0); /* Text color */
  /* cursor: pointer; Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 15px; /* Increase font size */
  font-family: 'Open Sans Condensed', sans-serif;
  box-shadow: 10px 5px 10px rgb(185, 185, 185);
}

#topBtn:hover {
  background-color:rgb(66, 109, 91); /* Add a dark-grey background on hover */
  color: white;
}

.flash-words{
  color: rgb(128, 38, 38);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
/* GENERAL  */

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-top{
  padding-top: 50px;
}

/* FORMS */

.input-text{
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  width: 350px;

}

.input-text:focus{
  border: solid;
  border-width: 1px;
  border-color:rgb(199, 199, 199);
  border-bottom: 1px solid black;
  text-align: left;
  background-color: rgb(241, 241, 241);
  outline: none;

}

.submit-button{
  background-color: rgb(66, 109, 91);
  color: white;
  border: none;
  font-family: 'Spectral', serif;
  font-size: 18px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  margin-top: 10px;
}

.submit-button:hover{
  background-color: rgb(116, 190, 159);
  color: rgb(0, 0, 0);
  border: none;
  font-family: 'Spectral', serif;
  font-size: 18px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  margin-top: 10px;
}

.submit-button-google{
  background-color:  rgb(6, 4, 138);
  color: white;
  border: none;
  font-family: 'Spectral', serif;
  font-size: 18px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  margin-top: 10px;
}

.submit-button-google:hover{
  background-color:  rgb(128, 38, 38);
  color: white;
  border: none;
  font-family: 'Spectral', serif;
  font-size: 18px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  margin-top: 10px;
}

.form-label{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  text-align: left;
  width: 120px;
}

.padding-left-align{
  padding-top: 15px;
  align-items: left;
  
}

/* NAVBAR */

header{
  height: 70px;
	background: linear-gradient(-20deg, rgb(66, 109, 91), #a8b9b1, #ffffff);
  background-size: 400% 400%; 
	animation: gradient 20s ease infinite;
  width: 100vw;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  z-index: 1;
}

/* 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

h7{
  font-family: 'Spectral', serif;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.navbar{
  width: 100vw;
  background-color:white;
  position:sticky;
  top: 70px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid black;
  z-index: 1;
}

.navbar-user{
  width: 100vw;
  background-color:white;
  position:sticky;
  top: 70px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  z-index: 1;
  vertical-align: middle;
  padding-top:7px;
}


.navbar-user-cont{
  display: flex;
}

.navbar-username{
  background-color: white;
  border: none;
  color: rgb(66, 109, 91);
  font-size: 17px;
  font-family: 'Spectral', serif;
  font-style: italic;
  padding-right: 20px;
  padding-left: 20px;
  align-items: left;
  margin-bottom: 3px;
  margin-top: 0px;
}

.navbar-username:hover{
  background-color: rgb(235, 235, 235);
   color: black;
   text-decoration: underline;
}


.nav-button{
  background-color: rgb(66, 109, 91);
  color: white;
  border: none;
  font-family: 'Spectral', serif;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin-left: 3px;

}


.nav-button:hover{
  background-color: rgb(116, 190, 159);
  color: rgb(0, 0, 0);
}


.search-button{
  border-radius: 50px;
  border: solid;
  border-color:rgb(148, 182, 161);
  border-width: 1px;
  outline: none;
  background-color: white;
}


.search-button:hover{
  box-shadow:3px 3px 3px rgb(148, 182, 161);
}

#site-search{
  border:none;
  outline: none;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 200px;
}


.homepagelink{
  background-color: white;
  border: none;
  color: rgb(66, 109, 91);
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  padding-right: 20px;
  padding-left: 20px;
}

.homepagelink:hover{
  background-color: rgb(241, 241, 241);
  color: rgb(61, 61, 61);
  font-size: 17px;
  text-decoration: underline;
}

.homepagelink:active{
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-style: italic;
}

/* HOMEPAGE  */

.home-profilepic{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 10px;
}


.home-profilepic:hover{
  box-shadow: 10px 5px 10px rgb(172, 172, 172);
}

/* FONT FOR USER NAME */
h12{
  font-family: 'Cinzel', serif;
  font-size: 20px;
  font-weight: 100;
  color:black;
  text-align: right;
  padding-top: 0px;
}


.home-user-box{
  display: block;
  padding: 15px;
}


.home-post-box{
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 170px;
  text-align: left;
  padding: 10px;
  display: block;
  background-color: rgba(231, 241, 237, 0.726);
}
/* 
.home-post-box:hover{
  box-shadow: 10px 5px 10px rgb(172, 172, 172);
} */

.home-word-box{
  display: block;
  overflow: visible;
}


.home-postpic{
  height: 220px;
  width: 220px;
  margin: 10px;
}


.like-donate-box{
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: right;
}


.like-donate-button{
  width: 50px;
  height: 40px;
  background-color: white;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
}


.like-donate-button:hover{
  border-radius: 50px;
  box-shadow:3px 3px 3px rgb(148, 182, 161);
  border: solid;
  border-color:rgb(148, 182, 161);
  border-width: 1px;
  outline: none;
}

.like-donate-button-red{
  width: 50px;
  height: 40px;
  background-color: white;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
  color: rgb(126, 0, 0);
}

.home-line{
  height: 2px;
  width: 90vw;
  background-color:rgb(206, 216, 212);
  align-items: center;
  margin-bottom: 12px;
}

.donate_like_number{
  width: 70px; 
  border: solid;
  border-width: 1px;
  border-color: rgb(148, 182, 161);
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 10px;
  background-color: white;
  color: rgb(66, 109, 91);
}

h13{
  font-size: 19px;
  font-family: 'Didact Gothic', sans-serif;
  color:rgb(66, 109, 91);
  font-weight: 400;
}


h14{
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgb(156, 156, 156);
}


h15{
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  text-decoration: none;
  font-style: none;
}


footer {
  font-size: 11px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100vw;
  text-align: center;
  color: #ffffff;
  background-color: rgb(66, 109, 91);
  height: 30px;
  padding-top: 4px;
}


footer a {
  text-decoration: none;
  color: #ffffff;
}


h9{
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* ERROR PAGE FONT  */
h10{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}


h8{
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 100;
  color:rgb(66, 109, 91);
  text-align: right;
}


/* EDIT PAGE */
.edit-fields{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: space-between;
  display:flex;
  padding: 25px;
  border: solid;
  border-radius:20px;
  border-color: rgb(199, 199, 199);
  border-width: 1px;
}


/* USER PROFILE  */

.user-profilepic{
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin: 30px;
}


.profile-button{
  background-color: rgb(228, 228, 228);
  color: rgb(68, 68, 68);
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  width: 220px;
}


.profile-button:hover{
  outline: solid;
  outline-color:rgb(132, 155, 145);
}

.profile-description{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}


.follow-button{
  background-color: rgb(179, 209, 196);
  color: black;
  border: solid;
  border-color: rgb(66, 109, 91);
  font-family: 'Spectral', serif;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin-left: 3px;
  width: 150px;
  font-weight: 400;
}


.follow-button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(66, 109, 91);
}


.following-profilepic{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 30px;
}


.following-profilepic:hover{
  box-shadow: 10px 5px 10px rgb(172, 172, 172);
}


.following-box{
  text-align: left;
  padding-left: 60px;
  height: 90px;

}


.following-title-box{
  margin-top: 50px;
  border-bottom: solid 2px rgb(148, 182, 161);
}





/* FONT FOR FOLLOWERS AND FOLLOWING  */
h16{
  font-family: 'Spectral', serif;
  color: black;
  font-size: 16px;
}

/* INDIVIDUAL USERNAME PROFILE PAGE FONT  */

h11{
  font-family: 'PT Serif', serif;
  font-size: 27px;
  color:rgb(0, 0, 0);
}


