{% extends "_layout.html" %}

{% block content %}



<main>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img class="img-fluid" src="/static/images/error404.jpg" />
            </div>

            <div class="col" class="center">
                <div>
                    <h8>Unauthorized Entry</h8>
                </div>
                <div>
                    <h10>Please login to access this page.</h10>
                    
                </div>
                <div>
                <h10>If you are new, start your Qulture and Art journey by creating an account.</h10>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock %}