{% extends "_layout.html" %}

{% block content %}

<div class="navbar">

    <form action="{{url_for('home')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <input class="homepagelink" type="submit" value="Home">
        </div>
    </form>

    <form action="{{url_for('login.new')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <input class="homepagelink" type="submit" value="Login">
        </div>
    </form>

    <form action="{{url_for('users.new')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <input class="homepagelink" type="submit" value="Sign-up">
        </div>
    </form>


</div>



<main>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img class="img-fluid" src="/static/images/error404.jpg" />
            </div>

            <div class="col" class="center">
                <div>
                    <h8>Page Not Found</h8>
                </div>
                <div>
                    <h10>I'm sorry, the page that you are looking for does not exist.</h10>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock %}