<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">



  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,200&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <title>
    {% block title %}
    QULTURE & ART
    {% endblock %}
  </title>

  {% block header %}
  {% endblock %}

</head>



<body>

  <header>


    <h7>QULTURE & ART</h7>
  </header>


  {% if current_user.is_authenticated %}

  <div class="navbar-user">

    <div class="navbar-user-cont">
      

      <form action="{{url_for('users.show', username=username, show_profilepic = show_profilepic, show_username = username, 
      show_description = show_description)}}">

        <div>
          <input class="navbar-username" type="submit" value="{{username}}'s gallery">
        </div>
      </form>

      <form action="{{url_for('images.new')}}">
        <div>
          <input class="nav-button" type="submit" value="Share a new story">
        </div>
      </form>

      </div>

      <div class="navbar-user-cont">

      <form action="{{url_for('home', username=username)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <input class="homepagelink" type="submit" value="Home">
        </div>
      </form>

      <form action="{{url_for('login.destroy', username = username)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <input class="homepagelink" type="submit" value="Logout">
        </div>
      </form>
    </div>
    </div>

  </div>

  {% else %}

  <div class="navbar">

    <form action="{{url_for('home')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="Home">
      </div>
    </form>

    <form action="{{url_for('login.new')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="Login">
      </div>
    </form>

    <form action="{{url_for('users.new')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="Sign-up">
      </div>
    </form>

  </div>

  {% endif %}



  <main>

    {% block content %}

    {% endblock %}

  </main>

  <footer>
    <h9> Designed by AletteXin </h9> </a>
  </footer>

</body>




</html>