<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  <script src="https://js.braintreegateway.com/web/dropin/1.30.1/js/dropin.min.js"></script>

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,200&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">


  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  <script src="https://kit.fontawesome.com/eb3b823b28.js" crossorigin="anonymous"></script>
  {% endassets %}

  <title>
    {% block title %}
    QULTURE & ART
    {% endblock %}
  </title>

  {% block header %}
  {% endblock %}

</head>


<body>

  <header>
    <div class="container-fluid">
      <div class="row ">
        <div class="col-4">
        </div>
        <div class="col-4 ">
          <h7>QULTURE & ART</h7>
        </div>
        <div class="col-4 my-3 pr-4 align-items-center d-flex justify-content-end">
          <form action="{{url_for('site_search')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="search" id="site-search" name="site-search" placeholder="Search username">
            <button class="search-button" type=submit><i class="fas fa-chevron-circle-right fa-lg"></i></button>
          </form>
        </div>
      </div>
    </div>
  </header>


  {% if current_user.is_authenticated %}

  <div class="navbar-user">
    <div class="navbar-user-cont">
      <form action="{{url_for('users.show', show_user = current_user, show_username = current_user.username)}}">
        <div>
          <input class="navbar-username" type="submit" value="{{current_user.username}}'s gallery">
        </div>
      </form>
      <form action="{{url_for('images.new')}}">
        <div>
          <input class="nav-button" type="submit" value="Share a new story">
        </div>
      </form>
    </div>

    <div class="navbar-user-cont">
      <form action="{{url_for('home')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <input class="homepagelink" type="submit" value="Posts">
        </div>
      </form>

      <form action="{{url_for('login.destroy', username = current_user.username)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <input class="homepagelink" type="submit" value="Logout">
        </div>
      </form>
    </div>
  </div>


  {% else %}

  <div class="navbar">

    <form action="{{url_for('about')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="About">
      </div>
    </form>
    
    <form action="{{url_for('home')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="Home">
      </div>
    </form>

    <form action="{{url_for('login.new')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="Login">
      </div>
    </form>

    <form action="{{url_for('users.new')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div>
        <input class="homepagelink" type="submit" value="Sign-up">
      </div>
    </form>

  </div>

  {% endif %}

  <main>

    {% block content %}

    {% endblock %}

    <button onclick="topFunction()" id="topBtn" title="Go to top">Back to top</button>

    <script type="text/javascript">
      mybutton = document.getElementById("topBtn");

      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      function topFunction() {
        document.body.scrollTop = 0; 
        document.documentElement.scrollTop = 0; 
      }
    </script>

  </main>

  <footer>
    <h9> DESIGNED AND CODED BY ALETTEXIN </h9> </a>
  </footer>

</body>

</html>
