{% extends "_layout.html" %}

{% block title %}
QULTURE & ART
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <p class="flash-words">{{ message }} </p>
  {% endfor %}
</ul>
 {% endif %}
{% endwith %}

<div class="container my-4 ">
<img class="img-fluid" src="/static/images/aboutpicture.png" />
  </div>
<div class="container my-4 ">
<h7> A platform for us to share our heritage. </h7>
</div>
<div class="container my-4 ">
<h13> New here? Sign-up for an account to start sharing your stories, or visit 'Posts' to browse what others have shared. </h13>
</div>

{% endblock %}
