{% extends "_layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <p class="flash-words">{{ message }} </p>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<main>
    <div class=container-fluid>
        
        <form method="POST" action="{{url_for('payment.create')}}" id = "paymentform">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label>Enter donation amount: </label>
            <input type="text" name="amount" placeholder="US$ amount">
            <div id="payment"></div>
            <input type="hidden" name="nonce" id="nonce-field">
            <input type="submit" value="Make donation now" id = "submit-button">
        </form>
        <!-- <button id="braintree-button">Make donation now</button> -->
    </div>

    <script type="text/javascript">
        const braintreeButton = document.getElementById("submit-button")
        
        braintree.dropin.create({
            container: document.getElementById("payment"),
            authorization: "{{token}}"
        }, (error, paymentForm) => {
            braintreeButton.onclick = () => {
                paymentForm.requestPaymentMethod((error, payload) => {
                    document.getElementById("nonce-field").value = payload.nonce
                    document.getElementById(paymentform).submit()
                })
            }
        })

    </script>

</main>

{% endblock %}